.grid_2-1,
.grid_1-1,
.grid_5-3,
.grid_2-3,
.grid_3-2,
.grid_1-1-1,
.grid_1-1-1-1 {
  display: grid;
  grid-template-columns: 1fr;
  gap: 16px;
  align-items: start;
}

.flex_col {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

@media (min-width: 1000px) {
  .grid_2-1 {
    grid-template-columns: 2fr 1fr;
  }
  .grid_1-1 {
    grid-template-columns: 1fr 1fr;
  }
  .grid_5-3 {
    grid-template-columns: 5fr 3fr;
  }
  .grid_2-3 {
    grid-template-columns: 2fr 3fr;
  }
  .grid_3-2 {
    grid-template-columns: 3fr 2fr;
  }
  .grid_1-1-1 {
    grid-template-columns: 1fr 1fr 1fr;
  }
  .grid_1-1-1-1 {
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }

  .order > :first-child {
    order: 2;
  }
  .order > :last-child {
    order: 1;
  }
}

main img {
  width: 100%;
  height: auto;
  display: block;
}

@media (min-width: 1000px) {
  .grid_1-1 img {
    height: 280px;
    object-fit: cover;
  }

  .grid_1-1-1 img {
    height: 200px;
    object-fit: cover;
  }

  .grid_1-1-1-1 img {
    height: 180px;
    object-fit: cover;
  }
}

.operativsystemer {
  max-width: 1100px;
  margin-inline: auto;
  padding-inline: 16px;
}

.operativsystemer section {
  margin-top: 32px;
}

.operativsystemer p {
  max-width: 65ch;
}

.operativsystemer .grid_5-3 img,
.operativsystemer .grid_2-3 img,
.operativsystemer .grid_3-2 img {
  height: 240px;
  object-fit: cover;
}

@media (min-width: 1000px) {
  .operativsystemer .grid_5-3 img,
  .operativsystemer .grid_2-3 img,
  .operativsystemer .grid_3-2 img {
    height: 280px;
  }
}

.galleri_grid {
  display: grid;
  grid-template-columns: 1fr;
  gap: 16px;
}

.galleri_intro p {
  max-width: 65ch;
}

@media (min-width: 1000px) {
  .galleri_grid {
    grid-template-columns: 2fr 1fr 1fr;
    grid-template-rows: auto auto auto;
    gap: 16px;
    align-items: stretch;
  }

  .g1 {
    grid-column: 1 / 2;
    grid-row: 1 / 3;
  }
  .g2 {
    grid-column: 2 / 3;
    grid-row: 1 / 2;
  }
  .g3 {
    grid-column: 3 / 4;
    grid-row: 1 / 2;
  }
  .g4 {
    grid-column: 2 / 4;
    grid-row: 2 / 3;
  }
  .g5 {
    grid-column: 1 / 2;
    grid-row: 3 / 4;
  }
  .g6 {
    grid-column: 2 / 4;
    grid-row: 3 / 4;
  }
}

.operativsystemer {
  max-width: 1100px;
  margin-inline: auto;
  padding-inline: 16px;
}

.operativsystemer .os_grid {
  display: grid;
  gap: 24px;
  margin-top: 24px;
}

.operativsystemer .os_grid {
  grid-template-columns: 1fr;
  grid-template-areas:
    "img1"
    "text1"
    "text2"
    "img2"
    "card3";
}

.operativsystemer .os_img1 {
  grid-area: img1;
}
.operativsystemer .os_text1 {
  grid-area: text1;
}
.operativsystemer .os_text2 {
  grid-area: text2;
}
.operativsystemer .os_img2 {
  grid-area: img2;
}
.operativsystemer .os_card3 {
  grid-area: card3;
}

@media (min-width: 1000px) {
  .operativsystemer .os_grid {
    grid-template-columns: 2fr 3fr 2fr;
    grid-template-areas:
      "img1  text1  card3"
      "text2 img2   .";
    align-items: start;
  }
}

.operativsystemer .os_img1 img,
.operativsystemer .os_img2 img {
  width: 100%;
  height: 280px;
  object-fit: cover;
  display: block;
  border-radius: 10px;
}

.operativsystemer .os_card3 img {
  width: 100%;
  height: 180px;
  object-fit: cover;
  display: block;
  border-radius: 10px;
}

.operativsystemer p {
  max-width: 65ch;
}

.operativsystemer .os_card3 {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

