.operativsystemer {
  max-width: 1100px;
  margin-inline: auto;
  padding-inline: 16px;
}

.operativsystemer .os_grid {
  display: grid;
  gap: 24px;
  margin-top: 24px;
  grid-template-columns: 1fr;
  grid-template-areas:
    "win"
    "mac"
    "tab";
}

.operativsystemer .os_win { grid-area: win; }
.operativsystemer .os_mac { grid-area: mac; }
.operativsystemer .os_tab { grid-area: tab; }

.operativsystemer .os_win,
.operativsystemer .os_mac,
.operativsystemer .os_tab {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.operativsystemer img {
  width: 100%;
  height: auto;
  display: block;
}

@media (min-width: 1000px) {
  .operativsystemer .os_grid {
    grid-template-columns: 2fr 3fr 2fr;
    grid-template-areas:
      "win win tab"
      "mac mac .";
    align-items: start;
  }

  .operativsystemer .os_win {
    display: grid;
    grid-template-columns: 2fr 3fr;
    gap: 24px;
    align-items: start;
  }

  .operativsystemer .os_mac {
    display: grid;
    grid-template-columns: 3fr 2fr;
    gap: 24px;
    align-items: start;
  }

  .operativsystemer .os_win > img,
  .operativsystemer .os_mac > img {
    height: 280px;
    object-fit: cover;
  }

  .operativsystemer .os_tab > img {
    height: 180px;
    object-fit: cover;
  }
}


